<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- PERMISOS -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Permiso para guardar PDFs en Descargas -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher2"
        android:roundIcon="@mipmap/ic_launcher2_round"
        android:label="PIT-LANE"
        android:supportsRtl="true"
        android:theme="@style/Theme.Parcial_SebastianGranoblesArdila"
        tools:targetApi="31">

        <!-- Servicio de Notificaciones Firebase -->
        <service
            android:name=".utils.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- CONFIGURACIÓN PARA PROVEER ARCHIVOS DE FOTOS Y PDF -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.parcial_sebastiangranoblesardila.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- ACTIVIDAD PRINCIPAL -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Parcial_SebastianGranoblesArdila">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>